.trailPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  display: flex;
  width: 100%;
  margin-top: -5px;
  background-color: rgb(116, 250, 199);
}

label {
 margin-left: 5px;
}

.trails-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 100px 50px 100px 200px; 
}

.create-trail{
  color: black;
  border-radius: 25px;
  border: 7px rgb(197, 197, 197) solid;
  background-color: white;
  padding: 10px;
  width: 140px;
  margin-bottom: 100px;
}

.spinner{
width: 500px;
height: 500x;
margin-left: 490px;
}

@media only screen and (max-width: 800px) {

  .create-trail{
    margin: 30px 160px;
  }
  
  .spinner{
  width: 350px;
  height: 350x;
  margin-left: 20px;
  }

}