.filter{
  padding: 0px;
  margin: 0px;
}

.filter-container{
  display: flex;
  margin-left: 100px;
}

.top-container {
  display: flex;
  margin-top: -5px;
  background-color: rgb(116, 250, 199);
}

.filters {
  padding-left: 10px;
  padding-bottom: -5px;
}

label {
 margin-left: 5px;
}

.trails{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 100px 50px;
}

.create-trail{
  color: white;
  padding: 10px;
  margin-left: 653px;
  margin-bottom: 100px;
}

.spinner{
width: 500px;
height: 500x;
margin-left: 490px;
}