.search-container{
 
}

.searchbar{
  width: 400px;
}

.filter{
  padding: 0px;
  margin: 0px;
}

.filter-container{
  display: flex;
  margin-left: 100px;
}

.top-container {
  display: flex;
  margin-left: 250px;
}

.filters {
  padding: 0px 15px;
}

label {
 margin-left: 5px;
}


.trails-container{
  margin-bottom: 100px;
  display: flex;
  width: 900px;
}

.trail{
  border: 1px solid black;
  display: flex;
  width: 600px;
  
}

.trail-image {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.trail-description-container{
  padding: 10px;
}