.div1 {
width: 100%;
height: 400px;
margin-top: -5px;
background-color:rgb(32, 129, 249);
}

.div2 {
  width: 100%;
  height: 400px;
  background-color: white;
}

.div3 {
  width: 100%;
  height: 400px;
  background-color: rgb(116, 250, 199)
}


.div4 {
  width: 100%;
  height: 400px;
  background: white;
}