::value{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.save-button{
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 5px;
  color: rgb(252, 249, 249);
  font-weight: bold;
  background-color: black;
  margin: 10px 140px;
  padding: 2px 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 25px;
}