@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.form-container {
display: flex;
margin-left: 250px;
margin-top: 50px;
margin-bottom: 50px;
width: 65%;
background-color:rgb(230, 230, 230);
}

.login-form {
  width: 380px;
  height: 400px;
  padding: 50px;
  margin-left: 40px;
}

.signup-form {
  width: 500px;
  height: 400px;
  padding: 50px;
  border-left: solid rgb(197, 197, 197) 2px;
}

.signup {
  padding: 5px;
  margin: 5px;
  width: 189px;
  outline: none;
  height: 30px;
  border-radius: 25px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border: 1px solid white;
}

.login {
  padding: 5px;
  margin: 5px;
  width: 189px;
  font-family: 'Raleway', sans-serif;
  outline: none;
  height: 30px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid white;
}

button {
  margin: 5px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;

}

.login::placeholder{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.signup::placeholder{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.fake-labels{
  margin-bottom: -20px;
  font-size: 14px;
  color:black;
}

.login-button{
  margin-left: 140px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.submit-button{
  margin-left: 330px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.signup-form{
  color:red;
}



@media only screen and (max-width: 600px) {

  .form-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 355px;
    background-color:rgb(230, 230, 230);
    }
    
    .login-form {
      width: 300px;
      height: 300px;
      padding: 46px;
      margin-left: 40px;
    }
    
    .signup-form {
      width: 355px;
      height: 400px;
      padding: 85px;
      border-top: solid rgb(197, 197, 197) 2px;
      border-left: none;
      margin-bottom: 50px;
    }
    
    .submit-button{
      margin-left: 140px;
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      padding: 5px;
      color: white;
      font-weight: bold;
      
    }
    


}