.form-container {
display: flex;
margin-left: 250px;
margin-top: 50px;
margin-bottom: 50px;
width: 100%;
}

.login-form {
  width: 500px;
  height: 400px;
  padding: 50px;
}

.signup-form {
  width: 500px;
  height: 400px;
  padding: 50px;
  border-left: solid grey 2px;
}

.signup {
  padding: 5px;
  margin: 5px;
  width: 189px;
}

.login {
  padding: 5px;
  margin: 5px;
  width: 189px;
}

button {
  margin: 5px;
}