@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.body-homepage {
  background: url(https://4.bp.blogspot.com/-5oWcxZKkzEE/WDGHg6PKmqI/AAAAAAAADQM/XzZDu2Rs7Xgr5xOXjw5zH3W8_MFZ5nnAACLcB/s1600/Forest-Green.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  padding-top: 500px;
  padding-bottom: 288px;

}


h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  text-align: justify;
  padding-left: 50px;
  padding-right:50px;
  margin-top: 37px;
  
  
}

.home-wrap{
  margin-top: -600px;
}
.info {
  width: 900px;
  margin-left: 38vh;
  background-color: rgb(252, 249, 249);
  border-radius: 10px;
  border-style: solid;
  border-color: forestgreen;
  margin-top: -150px;
  height: 200px;
}

.slide {
  margin-left: 24%;
  padding: 20px;
}

.enter {
  margin-left: 105vh;
  background:white;
  width: 180px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  
}


.enter-button {
  text-align: center;
}

.glow {
font-size: 100px;
  text-align: center;
   font-family: 'Monoton', cursive;
   margin-top: 300px;
   color: #fff;
   text-shadow: 1px 1px 2px black, 0 0 40px green, 0 0 5px yellow;
}



@media all and (max-width: 400px) {
 
  .glow {
    font-size: 50px;
      text-align: center;
       font-family: 'Monoton', cursive;
       margin-top: 300px;
       color: #fff;
       text-shadow: 1px 1px 2px black, 0 0 40px green, 0 0 5px yellow;
    }

      .enter {
        margin-left: 200px;
        background:white;
        width: 100px;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 10px;
        margin-top:16px;
        
      }
    
      .info {
        width: 350px;
        margin-left: 10px;
        background-color: rgb(252, 249, 249);
        border-radius: 10px;
        border-style: solid;
        border-color: forestgreen;
        margin-top: -80px;
        height: 150px;
      }

      h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        text-align: justify;
        
        padding-right:50px;
        
      }
}