@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.logo {
width: 400px;
margin: -5px 0px 0px 100px;
height: 100px;
}

.navbar {
  width: 100%;
  height: 105px;
  background-color: white;
  border-bottom: 1px black solid;
  display: flex;
  margin-bottom: 5px;
}

.nav-links{
  margin-left: auto; 
margin-right: 0;
}

.signIn-link{
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.trails-link {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 100px;
}





@media only screen and (max-width: 800px) {

  .logo {
    width: 150px;
    margin: 0px;
    height: 75px;
    }

    .signIn-link{
      color: black;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
    }
    
    .trails-link {
      font-family: 'Raleway', sans-serif;
      color: black;
      font-size: 12px;
      text-decoration: none;
    }
    
    .navbar {
      width: 100%;
      height: 105px;
      background-color: white;
      border-bottom: 1px black solid;
      display: flex;
      margin-bottom: 5px;
    }
}