@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.logo {
width: 400px;
margin: -5px 0px 0px 100px;
height: 100px;
}

.navbar {
  width: 100%;
  height: 105px;
  background-color: white;
  border-bottom: 1px black solid;
  display: flex;
  margin-bottom: 5px;
}

.nav-links {
  margin: 50px 0px 0px 600px;
}

.nav-login {
  margin: 50px 0px 0px 0px;
}

.signIn-link{
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: rgb(37, 118, 240);
  text-decoration: none;
}

.link:hover{
  text-decoration: none;
  color: #236d8b;
}

.escape-logo{
  margin: 0px 0px 0px 0px;
}



@media only screen and (max-width: 600px) {

  .logo {
    width: 150px;
    margin: 0px;
    height: 75px;
    }

    .nav-links {
      margin: 0px;
    }

    .nav-login {
      margin: 0px;
    }

    .signIn-link{
      color: black;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
    }
    
    .link {
      font-family: 'Raleway', sans-serif;
      margin: 10px;
      font-size: 12px;
      color: rgb(37, 118, 240);
      text-decoration: none;
    }
    
    .link:hover{
      text-decoration: none;
      color: #236d8b;
    }

    .navbar {
      width: 100%;
      height: 100px;
      background-color: white;
      border-bottom: 1px black solid;
      display: flex;
      margin-bottom: 5px;
    }
}