@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.logo {
  width: 400px;
  height: 100px;
}

.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px black solid;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
display: flex;
gap: 50px;
}

.signIn-link {
  color: black;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.trails-link {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 18px;
  text-decoration: none;
}


@media only screen and (max-width: 440px) {
.logo {
  width: 300px;
}
} 
