.trail-detail-container{
  display: flex;
  padding: 30px;
  margin-left: 100px;
}

.edit-button{
  color:white;
}

.delete-button{
  color:white;
}

.trail-detail-image{
  width: 800px;
  height: 470px;
}

.trail-detail-description{
  background-color:rgb(230, 230, 230);
  width: 400px;
  padding-left: 100px;
  padding-top: 50px;
}

.description-text{

}

@media only screen and (max-width: 600px) {

  .trail-detail-container{
    display: inline;
    padding: 30px;
    margin-left: 100px;
  }
  
  
  .trail-detail-image{
    width: 100%;
    height: 470px;
    margin-top: -30px;
  }
  
  .trail-detail-description{
    background-color:rgb(230, 230, 230);
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: -23px;
  }
}