@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Monoton&display=swap');


h1 {
  font-size: 50px;
  display: inline;
  text-align: left;
  padding-right: 70%;
  padding-left: 30px;
  font-family: 'Gloria Hallelujah', cursive;
font-family: 'Monoton', cursive;

}

.logo-link{
  text-decoration: none;
  color: green;
}

.header {
  background-color: white;
  display: block;
  box-shadow: 0px 0px 40px 0px black;
  

}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 10px;

}
link {
  display: inline;
}

@media all and (max-width: 425px) {
  h1 {
    font-size: 30px;
    display: inline;
    text-align: left;
    padding-right: 60px;
    padding-left: 5px;
    font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Monoton', cursive;
  }  

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
  
  }
}