.searchbar {
  width: 500px;
  height: 40px;
  border-radius: 25px;
  border: 10px;
  outline: none;
}

::placeholder {
  font-size: 24px;
  padding: 20px;
}

.search-button {
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  margin: 10px;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 800px) {
  .searchbar {
    width: 300px;
    margin: 30px 7px;
    height: 40px;
    border-radius: 25px;
    border: 10px;
    outline: none;
  }
}
