.create-trail-input{
width: 300px;
margin: 5px;
}

.level-label{
padding-right: 80px;
}

.rating-label{
  padding-right: 115px;
  }

.create-trail-form{
  background-color:rgb(230, 230, 230);
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 60px 0px 60px 150px;
}

.create-trail-container{
 height: 78vh;
 padding-top: 100px;
}

::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.required-fields{
  font-size: 12px;
}


@media only screen and (max-width: 600px) {

  .create-trail-container{
    background-color:rgb(230, 230, 230);
    width: 355px;
    height: 380px;
    margin: 130px 10px;
  }

  .create-trail-input{
    width: 300px;
    margin: 5px;
    }
    
    .create-trail-form{
      margin-left: 20px;
     padding-top: 60px;
    }
}