.create-trail-input{
width: 300px;
margin: 5px;
}

.level-label{
padding-right: 80px;
}

.rating-label{
  padding-right: 115px;
  }

.create-trail-form{
  margin-left: 150px;
 padding-top: 60px;
}

.create-trail-container{
  background-color:rgb(230, 230, 230);
  width: 600px;
  height: 380px;
  margin: 50px 420px;
}

::placeholder{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}