.create-trail-input {
  width: 300px;
  padding: 20px;
  margin: 5px;
  height: 30px;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  background-color: white;
  border: 1px solid white;
}

.create-trail-dropdown {
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  background-color: white;
  border: 1px solid white;
  padding: 2px;
}

.create-trail-form {
  background-color: rgb(230, 230, 230);
  padding: 50px 100px;
}

.create-trail-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.required-fields {
  font-size: 12px;
}

.create-submit-button {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: rgb(252, 249, 249);
  font-weight: bold;
  background-color: black;
  padding: 2px 10px;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 25px;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.create-submit-button-container {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 680px) {
  .create-trail-container {
    padding: 15px 0;
  }

  .create-trail-form {
    padding: 50px;
  }
}

@media only screen and (max-width: 470px) {
  .create-trail-container {
    padding: 45px 0;
  }

  .create-trail-form {
    padding: 20px;
  }
}
