.content {
  margin-top: -5px;
}

.w-100 {
  width: 100% !important;
  height: 76vh;
}

.mission-statement{
  margin: auto;
  width: 100%;
  height: 700px;
  align-items: center;
  background-color:white;
}


.review-container{
width: 100%;
display: flex;
background-color: rgb(167, 184, 82);
}

.review1 {
margin-bottom: 60px;
margin-top: 50px;
width: 400px;
height: 500px;
margin-right: 50px;
margin-left: 60px;
background-color: white;
box-shadow: 10px 10px 8px 10px #888888;
}

.review2 {
  margin-bottom: 60px;
  margin-top: 50px;
  width: 400px;
  height: 500px;
  margin-right: 50px;
  background-color: white;
  box-shadow: 10px 10px 8px 10px #888888;
}

.review3 {
  margin-bottom: 60px;
  margin-top: 50px;
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 10px 10px 8px 10px #888888;
}

.review-icon {
width: 200px;
height: 200px;
border-radius: 50%;
margin: 10px 0px 50px 100px;
}

.review-words{
  width: 350px;
  margin-left: 25px;
}

p {
  text-align: center;
}