.search {
  margin-top: -58vh;
  margin-left: 30vh;
  
}


.search-input {
  font-size:25px;
  display: inline-block;
  width: 600px;
}

.search-bar {
  display: inline-block;
}

.mag {
  width:30px;
  height:30px;
  
}

@media all and (max-width: 425px) {

  .search {
    margin-top: -200px;
    margin-left: 40px;
    
  }
  
  
  .search-input {
    font-size:20px;
    display: inline-block;
    width: 300px;
  }
  
  .search-bar {
    display: inline-block;
  }
  
  .mag {
    width:30px;
    height:30px;
    
  }
}