.search {
  margin-top: -450px;
  margin-left: 400px;
  
}


.search-input {
  font-size:25px;
  display: inline-block;
  width: 600px;
}

.search-bar {
  display: inline-block;
}

.mag {
  width:30px;
  height:30px;
  
}