.create-trail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 750px;
  border-radius: 50%;
  background-color: white;
  width: 320px;
  
}

.submit-button-CT {
  width: 100px;
  margin-left: 150px;
  background:white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;

}


@media all and (max-width: 425px) {
  .create-trail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 35px;
    border-radius: 50%;
    background-color: white;
    width: 320px;
    
  }

}